{% load staticfiles %}
<!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First shelter feature. <br><span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Here lies the first feature of San Jose offical animal shelter</p>
      </div>
      <div class="col-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AzWb5hmzzac" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 col-md-push-7">
        <h2 class="featurette-heading">How to find us<br><span class="text-muted"></span></h2>
        <p class="lead">2750 Monterey Road, San Jose, CA 95111</p>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <div id="googleMap" style="width:560px;height:315px;"></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our Facebook Page<br><span class="text-muted">So many events going on</span></h2>
      </div>
      <div class="col-md-5">
           <div class="fb-page" data-href="https://www.facebook.com/sanjoseanimalcarecenter" data-width="500" data-height="315" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sanjoseanimalcarecenter"><a href="https://www.facebook.com/sanjoseanimalcarecenter">San Jose Animal Care Center</a></blockquote></div></div>
      </div>
    </div>

    <hr class="featurette-divider">

<!-- /END THE FEATURETTES -->